$alinha-centro: center;
$borda-subtitulo: 1px solid #e1e1e1;
$cor-borda-cinza: #e1e1e1;
$cor-cinza-claro: #999;
$cor-destaque-cinza: #333;
$cor-padrao-azul: #273578;
$cor-padrao-verde: #65c4b6;
$cor-texto-branco: #fff;
$margem-debaixo: 30px;
$tipo-display: flex;