.menu-nav {
    border-bottom: 1px solid $cor-borda-cinza;
    height: 10vh;
    justify-content: flex-end;
    list-style: none;
    margin-bottom: 15px;
    width: 100%;
    @include centraliza-conteudo;
    li {
        padding: 20px;
        a {
            color: $cor-destaque-cinza;
            font-size: .8em;
            font-weight: bold;
            justify-content: space-around;
            letter-spacing: .1em;
            margin-bottom: 1px solid $cor-destaque-cinza;
            text-decoration: none;
            text-transform: uppercase;
            @include centraliza-conteudo;
        }
    }
    li:hover .submenu {
        opacity: 1;
        visibility: visible;
    }
    .submenu {
        align-items: left;
        background-color: #fff;
        display: flex;
        height: 50vh;
        justify-content: space-between;
        left: 0;
        opacity: 0;
        padding: 50px 5px 0 5px;
        position: absolute;
        top: 100px;
        visibility: hidden;
        width: 98vw;
        p:hover {
            color: $cor-padrao-verde;
        }
    }
}

.list-submenu-left {
    align-items: left;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    .left-submenu {
        color: $cor-destaque-cinza;
        margin-bottom: 15px;
        font-size: .8em;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.title-submenu:nth-child(1) {
    color: $cor-destaque-cinza;
    cursor: unset;
    font-size: .8em;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.list-submenu p {
    color: rgb(104, 104, 104);
    cursor: pointer;
    font-size: .8em;
    font-weight: 500;
    margin-bottom: 15px;
}

.list-submenu .view-all {
    color: $cor-destaque-cinza;
    font-weight: bold;
}

.banner {
    width: 100%;
}

.search {
    margin-left: 120px;
    input {
        border: none;
        border-bottom: 1px solid $cor-borda-cinza;
        &::placeholder {
            color: $cor-cinza-claro;
            background-image: url("../img/icons/search.png");
            background-position-x: 145px;
            background-repeat: no-repeat;
            background-size: 10px;
            font-size: .7em;
            text-transform: uppercase;
        }
    }
}

.menu-aux {
    background-color: #fff;
    display: flex;
    height: 65px;
    justify-content: flex-start;
    position: fixed;
    width: 100vw;
    .menu-nav {
        border: none;
        display: flex;
        justify-content: left;
    }
    .logo {
        background-image: url("/img/logo-puro.png");
        background-repeat: no-repeat;
        background-position-x: -150px;
        display: flex;
        height: 40px;
        margin-left: -370px;
        margin-right: 290px;
        width: 40px;
    }
    .location {
        display: none;
    }
    .user-area {
        display: none;
    }
    .search {
        align-items: center;
        display: flex;
        input {
            background-image: url("../img/icons/search.png");
            background-repeat: no-repeat;
            background-position: 60px 3px;
            width: 70px;
        }
    }
    .submenu {
        top: 60px;
    }
}