.showcase {
    flex-direction: column;
    grid-row: 2;
    justify-content: center;
    @include centraliza-conteudo;
    h1,
    p {
        margin-bottom: 20px;
    }
    h1 {
        color: #222;
        font-weight: bold;
    }
    p {
        color: $cor-cinza-claro;
        font-size: 1em;
        margin-bottom: 6vh;
    }
}

.product-line {
    justify-content: space-between;
    padding: 20px;
    width: 97%;
    @include centraliza-conteudo;
    img {
        cursor: pointer;
    }
}

.product {
    flex-direction: row;
    height: 120px;
    justify-content: center;
    padding: 60px;
    width: 120px;
    @include centraliza-conteudo;
    &:hover {
        opacity: .3;
    }
}