.area-blog p,
.area-lojas p,
.area-personalize p,
.area-lorem p,
.area-ipsum p {
    text-align: center;
}

.infos {
    background-color: #fff;
    color: $cor-destaque-cinza;
    flex-direction: column;
    justify-content: center;
    line-height: 20px;
    padding: 150px;
    text-align: center;
    @include centraliza-conteudo;
    h2 {
        letter-spacing: .2em;
        font-weight: 100;
        margin-bottom: 50px;
    }
    p {
        line-height: 30px;
        word-spacing: .1em;
    }
}

.infos button,
.area-insta button {
    color: $cor-texto-branco;
    border: none;
    font-weight: bold;
    height: 40px;
    margin-top: 20px;
    text-transform: uppercase;
    width: 190px;
}

.area-lojas button,
.area-lorem button {
    background-color: $cor-padrao-azul;
    cursor: pointer;
}

.area-blog button,
.area-personalize button,
.area-ipsum button,
.area-insta button {
    background-color: $cor-padrao-verde;
    cursor: pointer;
}

.area-blog {
    @include centraliza-conteudo;
    .area-blogImg {
        background-size: cover;
        grid-column: 1 / 7;
    }
}

.borda1 {
    margin-bottom: $margem-debaixo;
    margin-left: -405px;
    margin-top: -30px;
    width: 110%;
    @include borda-fina;
}

.area-lojas {
    flex-direction: row-reverse;
    @include centraliza-conteudo;
    .area-lojasImg {
        grid-column: 7 / 13;
        grid-row: 4;
    }
}

.borda2 {
    margin-bottom: $margem-debaixo;
    margin-left: 380px;
    margin-top: -30px;
    width: 110%;
    @include borda-fina;
}

.area-personalize {
    @include centraliza-conteudo;
    .area-personImg {
        grid-column: 1 / 7;
        grid-row: 5;
    }
}

.borda3 {
    margin-bottom: $margem-debaixo;
    margin-left: -295px;
    margin-top: -30px;
    width: 110%;
    @include borda-fina;
}

.area-lorem {
    flex-direction: row-reverse;
    @include centraliza-conteudo;
    .area-loremImg {
        grid-column: 7 / 13;
        grid-row: 6;
    }
}

.borda4 {
    margin-bottom: $margem-debaixo;
    margin-left: 340px;
    margin-top: -30px;
    width: 130%;
    @include borda-fina;
}

.area-ipsum {
    @include centraliza-conteudo;
    .area-ipsumImg {
        grid-column: 1 / 7;
        grid-row: 7;
    }
}

.borda5 {
    margin-bottom: $margem-debaixo;
    margin-left: -350px;
    margin-top: -30px;
    width: 130%;
    @include borda-fina;
}

.area-insta {
    background-image: url("../../img/banner-insta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    grid-column: 1 / 13;
    grid-row: 8;
    height: 500px;
    justify-content: center;
    @include centraliza-conteudo;
    h3 {
        color: $cor-texto-branco;
        font-size: 1.5rem;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
}